#jogador{
	margin-top: 50px;
	margin-bottom: 50px;
	width: 250px;
	height: 60px;
	text-align:center;
	background-color: #87CEFA;
	border:2px solid #ffffff;
}
#jogar{
	margin-top: 445px;
	margin-bottom: 50px;
	width: 250px;
	height: 110px;
	text-align:center;
	background-color: #ffffff;
}
.espaco{
	width:190px;
	height: 160px;
	border:2px solid #ff0000;
	float: left;
	text-align: center;
	padding-top: 10px;
	background-color: #ffffff;
}
#tab{
	margin-top: -240px;
	width: 750px;
	height: 480px;
	background-color: #ffffff00;
	text-align: center;
}
#mensagem{
	margin: auto;
	margin-top: -30px;
	width: 100px;
	height: 60px;
	text-align:center;
	background-color: white;
	position:relative;
}
.vez{
	float: left;
	margin-right: 0px;
}
#fundo{
	background-image:url(3.jpg);
}
.resultado{
	width: 200px;
	text-align:center;
	height: 100px;
}

#reinicio{
	margin-top: -50px;
}

#venceu{
	width: 50px;
	height: 70px;
	margin-top: -45px;
	background-color: yellow;
	border-radius: 3.0rem;
	border:4px solid #000;
}